#titre {
  text-align: center;
}

#ZoneJeu {
  border-width: 2px;
  border-bottom: 10px;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border: rgb(0, 0, 0);
}

/*--------------- Style des popup ---------------*/
.popup {
  margin: 5% auto;
  width: 70%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
}

.btnClose {
  float: right;
  cursor: pointer;
}

.EcranJeu {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(15, 7, 7);
  width: 100%;
  height: 100%;
  display: none;
}

.bilan {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(15, 7, 7);
  width: 100%;
  height: 100%;
  display: none;
}

/*-----------------------------------------------*/